<div class="bubble">
	<div class="container-fluid">
		<div class="row-fluid center">
			<div class="span 11" offset0" align="center">
				<h3><b><%= question.content %></b></h3>
			</div>
			<br>
			<br>
			<br>
			<div class="span5 offset0" align="left">
				<% choice = question.choices[0] %>
				<%= button_to [choice.content, " (",choice.votes.length,")"], {:controller => :votes, :action => :create, :choice_id => choice.id}, :class => "buttonTo btn" %>
			</div>
			<div class="span5 offset1" align="right">
				<% choice = question.choices[1] %>
				<%= button_to ["(",choice.votes.length,") ", choice.content], {:controller => :votes, :action => :create, :choice_id => choice.id}, :class => "buttonTo btn" %>
			</div>
		</div>
		<i><%= link_to "descriptions, discussions, and more...", question_path(question) %></i>
	</div>
</div>
