<p id="notice"><% notice %></p>

<div class="bubble">
	<div class="container-fluid">
		<div class="row-fluid center">
			<div class="span 10" offset1">
				<h1><b><%= @question.content %></b></h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<div class="row-fluid center">
		<div class="span6 offset0">
			<% @choice = @question.choices[0] %>
			<%= render 'choice_column' %>
		</div>
		<div class="span6 offset0">
			<% @choice = @question.choices[1] %>
			<%= render 'choice_column' %>
		</div>
	</div>
</div>

<% link_to 'Edit', edit_question_path(@question) %> 
<% link_to 'Back', questions_path %>
