<% provide(:title, 'About Us') %>
<div class="center hero-unit">
<h1>About Us</h1>
<br />
<br />
<p>
The People's SoapBox is a brand new website geared <br>towards letting people voice their opionions to the web at large <br>and hearing immediate and meaningful feedback <br>from people with an established web presence.  <br /><br />Stay tuned to learn more...
</p>
</div>
