<% provide(:title, 'Contact') %>
<div class="center hero-unit">
<h1>Contact</h1>
<br />
<br />
<p>
  To learn more please contact 
<a href="http://soundcloud.com/yoursandmind", target="_blank">Kyle Mack</a> 
or 
<a href="http://www.ncheney.com", target="_blank">Nick Cheney</a>.
</p>
<br />
<p>
   We look forward to hearing from you soon!
</p>
</div>
