<% provide(:title, 'Help') %>

<div class="center hero-unit">
<h1>Help</h1>
<br />
<br />
<p>
  This website should be so straightforward that you don't need much help.<br>
  But just to be extra nice, we'll be adding a help page soon.  
</p>
<br />
<p>
  If you really need help before then, here's a <a href="http://www.youtube.com/watch?v=3t8MeE8Ik4Y", target="_blank">link</a>.
</p>

</div>
